button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.author-container {
  margin-top: 50px;
}

.author-list {
  margin-top: 25px;
}

.blog-container {
  margin-top: 30px;
}

.blog {
  margin-top: 30px;
}

#author-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}
#newReviewButton {
  background-color: crimson!important;
  color: white!important;
}
#manageResturantsButton {
  background-color: crimson!important;
  color: white!important;
}
#goToBlogButton {
  background-color: crimson!important;
  color: white!important;
}
#createButton {
  background-color: crimson!important;
  color: white!important;
}
#resturantManagerBackround{ 
  background-image:"/public/images/ivan-stern-LOLSb7m6XkU-unsplash.jpg"!important;
}